# IDE & Editor
/.idea/              # PHPStorm / JetBrains
/.vscode/            # VSCode (não utilizado)
/.fleet/             # JetBrains Fleet
/.zed/               # Zed Editor (não utilizado)

# Environment
.env
.env.backup
.env.production
.env.local

# Laravel
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
auth.json
.phpunit.result.cache
.phpunit.cache

# OS
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml

# Logs
*.log
